{
  "$schema": "https://json.schemastore.org/launchsettings.json",
  "profiles": {
    "http": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "launchBrowser": false,
      "applicationUrl": "http://localhost:6186",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development",
        "ProjectMemoryProxy__LogLevel": "Debug",
        "ProjectMemoryProxy__DataDirectory": "/data",
        "ProjectMemoryProxy__BasicMemoryEndpoint": "http://localhost:5101",
        "ProjectMemoryProxy__BasicMemoryConnectionTimeout": "00:00:30"
      }
    }
  }
}
